/*************Contacts*****************/

/*************Form*****************/

/*************Social*****************/
.social-icon-contact {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    border: 2px solid #000000;
}

/* ########## TODO ##########

media querys

########## END TODO ########## */