{% extends "layout.html" %}

{% block title %}
    Sobre Nós | 432Hz
{% endblock %}

{% block pagecss %}
  <link rel="stylesheet" href="/static/stylesheets/about.css">
{% endblock %}

{% block main %}
  <section id="section1" class="misson">
    <h2>432Hz Misson</h2>
    <p>{{ _('blá blá blá in english') }}</p>
  </section>

  <section id="team" class="margin-left-1 justify-content-center position-relative">
    <article class="row justify-content-center position-relative mt-2">
      <p class="text-uppercase font-weight-bold mb-3 mt-3 text-center" style="font-size:1.25rem">Direção</p>
    </article>

    <div class="row justify-content-center position-relative">
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/monica.png') }}" class="team-logo img-fluid" alt="Mónica Reis">
        </div>
        <p class="mb-0 mt-3">Mónica Reis</p>
        <p class="font-weight-light mb-0 mt-2">Presidente</p>
      </article>
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/gianna.png') }}" class="team-logo img-fluid" alt="Gianna de Toni">
        </div>
        <p class="mb-0 mt-3">Gianna de Toni</p>
        <p class="font-weight-light mb-0 mt-2">Vice Presidente</p>
      </article>
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/andreia.png') }}" class="team-logo img-fluid" alt="Andreia Sousa">
        </div>
        <p class="mb-0 mt-3">Andreia Sousa</p>
        <p class="font-weight-light mb-0 mt-2">Vice Presidente</p>
      </article>
    </div>

    <article class="row justify-content-center position-relative mt-2">
      <p class="text-uppercase font-weight-bold mb-3 mt-3 text-center" style="font-size:1.25rem">Assembleia</p>
    </article>

    <div class="row justify-content-center position-relative">
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/emanuel.png') }}" class="team-logo img-fluid" alt="Emanuel Cabral">
        </div>
        <p class="mb-0 mt-3">Emanuel Cabral</p>
        <p class="font-weight-light mb-0 mt-2">Presidente</p>
      </article>
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/monica.png') }}" class="team-logo img-fluid" alt="Marco Machado">
        </div>
        <p class="mb-0 mt-3">Marco Machado</p>
        <p class="font-weight-light mb-0 mt-2">Vice Presidente</p>
      </article>
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/monica.png') }}" class="team-logo img-fluid" alt="Sara Lopes">
        </div>
        <p class="mb-0 mt-3">Sara Lopes</p>
        <p class="font-weight-light mb-0 mt-2">Vice Presidente</p>
      </article>
    </div>
    
    <article class="row justify-content-center position-relative mt-2">
      <p class="text-uppercase font-weight-bold mb-3 mt-3 text-center" style="font-size:1.25rem">Tesouraria</p>
    </article>

    <div class="row justify-content-center position-relative">
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/monica.png') }}" class="team-logo img-fluid" alt="André Mendes">
        </div>
        <p class="mb-0 mt-3">André Mendes</p>
        <p class="font-weight-light mb-0 mt-2">Presidente</p>
      </article>
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/monica.png') }}" class="team-logo img-fluid" alt="Rúben Garcia">
        </div>
        <p class="mb-0 mt-3">Rúben Garcia</p>
        <p class="font-weight-light mb-0 mt-2">Vice Presidente</p>
      </article>
      <article class="text-center lineh-1 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div>
          <img src="{{ url_for('static', filename='images/profile/monica.png') }}" class="team-logo img-fluid" alt="Laura Gonzales">
        </div>
        <p class="mb-0 mt-3">Laura Gonzales</p>
        <p class="font-weight-light mb-0 mt-2">Vice Presidente</p>
      </article>
    </div>
  </section>


{% endblock %}
