<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Associação 432Hz">
		<meta name="description" content="Associação 432Hz é uma associação que visa ligar a arte e a ciência é comunidade.">
		<meta name="keywords" content="432hz, associação, associação432hz, arte, ciência, art, science">
		<title>{% block title %}{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- tab icon -->
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='images/favicon-64x64.png') }}">

		<!-- Website Manifest -->
		<link rel="manifest" href="site.webmanifest">

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

		<meta name="theme-color" content="#ffffff">

		<!-- My Stylesheets -->
		<link rel="stylesheet" href="/static/stylesheets/global.css">
		{% block pagecss %}{% endblock %}

		<!-- Flash Alert Symbols -->
		<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
			<symbol id="check-circle-fill" viewBox="0 0 16 16">
			  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
			</symbol>
			<symbol id="info-fill" viewBox="0 0 16 16">
			  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
			</symbol>
			<symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
			  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</symbol>
		</svg>

		
	</head>
	<body>
		<header id="top" class="container-fluid">
			<!-- Loader -->

			<div class="loading">
				<img class="animated pulse infinite slow loading-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="A carregar">
			</div>

			<!-- Navbar -->
			{% include 'navbar.html' %}
		</header>
		<main class="container-fluid mr-0 ml-0">
			<!-- Flash Alerts -->
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<div class="container mt-3">
					{% for category, message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
						<svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ category }}"><use xlink:href="#{{ category }}-fill"/></svg>
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			{% block main %}{% endblock %}
		</main>
		<footer>
			<section>
				<div class="position-relative text-center pb-1" style="top: 2rem; z-index: 1001;">
					<a href="#" id="go-to-top" data-toggle="tooltip" data-placement="bottom" title="Voltar para o topo">
						<span class="bg-cinzento4 rounded-circle d-inline-block" style="font-size: 1.5rem; line-height: 2.5rem; width: 3rem; height: 3rem;">
							<i class="fas fa-chevron-up"></i>
						</span>
					</a>
				</div>

				<div class="col-md-8 mb-2 text-md-right text-center">
					<!-- espaço extra eliminar depois-->
					<p></br></p>
					<p class="text-uppercase font-weight-bold mb-1">
						<a href="{% if session['lang'] == 'pt' %}{{ url_for('sobre') }}{% else %}{{ url_for('about') }}{% endif %}">{{ _('SOBRE NÓS') }}</a> | 
						<a href="{{ url_for('projects') }}">{{ _('PROJECTOS') }}</a> | 
						<a href="{{ url_for('partners') }}">{{ _('Parceiros') }}</a> | 
						<a href="{% if session['lang'] == 'pt' %}{{ url_for('contactos') }}{% else %}{{ url_for('contacts') }}{% endif %}">{{ _('CONTACTOS') }}</a>
					</p>
					<p class="mb-2">Rua dos Foros Nº3 1ºDto. | 9500-059 Ponta Delgada</p>
				</div>

				<div class="col-md-8 mb-2 text-md-right text-center">
					<a class="social-media transition" title="Facebook" href="{{ url_for('facebook') }}" target="_blank" rel="nofollow noopener"><i class="fab fa-facebook-f fa-fw social-icon social-icon-small"></i></a>
					<a class="social-media transition ml-1" title="Instagram" href="{{ url_for('instagram') }}" target="_blank" rel="nofollow noopener"><i class="fab fa-instagram fa-fw social-icon social-icon-small"></i></a>
					<a class="social-media transition ml-1" title="Email" href="{{ url_for('email') }}"><i class="fas fa-envelope fa-fw social-icon social-icon-small"></i></a>
				</div>
			</section>
			
			<section class="container-fluid bg-cinzento4 pt-3 text-center">
				<div class="row justify-content-center align-items-end margin-left-1 text-black">
						<div class="col-md-4 text-lg-left text-uppercase font-weight-light">
								<p class="copyright" title="Design:&#010;Mónica Reis&#010;&#010;Web Dev:&#010;Rúben Garcia">&copy; 2024 Associação 432Hz</p>
						</div>
				</div>
		</section>
		</footer>

		<!-- Scripts -->
		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<!-- Bootstrap JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

		<!-- CKEditor -->
		<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

		<script src="{{ url_for('static', filename='scripts/global.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/parallax.js') }}"></script>

		{% block pagescripts %}{% endblock %}
	</body>
</html>