<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}" title="Página inicial">
      <img src="{{ url_for('static', filename='images/logo.png') }}" width="72" height="72" alt="logo" class="logo">
      <span class="text-432hz">432Hz</span>
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">{{ _('SOBRE NÓS') }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProjects">
            {{ _('PROJECTOS') }}
          </a>
          <ul class="dropdown-menu justify-content-center" aria-labelledby="navbarDropdownProjects">
            <li><a class="dropdown-item" href="#">PROJECTO 432HZ</a></li>
            <li><a class="dropdown-item" href="#">APRENDER BALEIAS</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('projects') }}">{{ _('TODOS OS PROJECTOS') }}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contacts') }}">{{ _('CONTACTOS') }}</a>
        </li>

        <li class="nav-item">
          <div class="nav-link">
            {% if session['lang'] == 'pt' %}
              <a class="text-reset text-decoration-none cursor-default" title="Portuguese" style="font-weight: 600;" aria-disabled="true">PT</a>
              <a class="" href="{{ url_for('set_locale', lang='en') }}" title="English" aria-label="Go to English Version" style="text-decoration: none; color: inherit;">EN</a>
            {% elif session['lang'] == 'en' %}
              <a class="" href="{{ url_for('set_locale', lang='pt') }}" title="Portuguese" aria-label="Ir para versão em Português" style="text-decoration: none; color: inherit;">PT</a>
              <a class="text-reset text-decoration-none cursor-default" title="English" style="font-weight: 600;" aria-disabled="true">EN</a>
            {% endif %}
          </div>
        </li>           
        
        {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin">
              ADMIN
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
              <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">DASHBOARD</a></li>
              {% if current_user.role == 'admin' %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('admin_dashboard') }}">ADMIN AREA</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">SAIR</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

