{% extends "layout.html" %}

{% block title %}
	Noticias | 432Hz
{% endblock %}

{% block pagecss %}
  <link rel="stylesheet" href="/static/stylesheets/dashboard.css">
{% endblock %}

{% block main %}
<div class="container">
	<h2 class="text-center">All News Posts</h2>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>URL</th>
				<th>Title</th>
				<th>Summary</th>
				<th>Body</th>
				<th>Author</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for post in news_posts %}
				<tr>
					<td>{{ post.id }}</td>
					<td><a href="{{ url_for('news_url', news_url=post.news_url) }}">{{ post.news_url }}</a></td>
					<td>{{ post.title_en }}</td>
					<td>{{ post.summary_en | safe }}</td>
					<td>{{ post.body_en | safe }}</td>
					<td>{{ post.author }}</td>
					<td>{{ post.date.strftime('%d/%m/%Y') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}